<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-advance-filepicker"
        version="0.0.1">

  <name>Advance File Picker</name>
  <author>AnkurKapil</author>

  <description>
    This plugin makes possible to pick files from iCloud, Camera, Photo Gallery or other document providers
  </description>

  <license>MIT</license>

  <js-module src="www/AdvanceFilePicker.js" name="FilePicker">
    <clobbers target="AdvanceFilePicker"/>
  </js-module>

  <engines>
    <engine name="cordova" version="&gt;=3.0.0"/>
  </engines>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="AdvanceFilePicker">
        <param name="ios-package" value="AdvanceFilePicker"/>
      </feature>
    </config-file>

    <header-file src="src/ios/AdvanceFilePicker.h"/>
    <source-file src="src/ios/AdvanceFilePicker.m"/>

    <hook type="after_plugin_install" src="src/ios/hooks/install_entitlements.js"/>
  </platform>
</plugin>